body {
	background-color:#FFFFFF;
	padding-top: 50px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  font-weight: 300;
}


.post {  
  background: #FFFFFF;
  margin: 10px;
  border:2px solid;
  border-color:#AF3838;
	border-radius:5px;

	padding: 10px;
	
}

.task {
  background: #FE4365; 
  margin: 10px;
  border:2px solid;
  border-color:#AF3838;
	border-radius:5px;

	padding: 10px;

}

.taskRef {
  background: #FE4365;
  margin: 10px;
  border:2px solid;
  border-color:#AF3838;
	border-radius:5px;

	padding: 10px;

}


.post_options {
	background: #eee;
	width: 40%;
  margin: 20px;
  border:2px solid;
  border-color:#AF3838;
	border-radius:5px;
	margin-left: auto;
	margin-right: auto;

	padding: 5px;
	
}

.individual_post_options {
	margin-left: auto;
	margin-right: auto;
	border:2px solid;
  	border-color:#AF3838;
  		padding: 1px;


}

.stream {
	background: #eee;
  margin: 2px;
  width: 50%;
  margin-left: auto;
	margin-right: auto;
  border:2px solid;
  border-color:#AF3838;
	border-radius:5px;

	padding: 1px;
	
}

/*ul {
	list-style-type:none;
	margin:0;
	float: right;
}

li {
	display: inline;
}*/

.title {
	padding: 50px;

}

.login_box {
	background-color: #eee;
  margin: 2px;
  border:2px solid;
  border-color:#AF3838;
	border-radius:5px;
	text-align: center;
	margin-left: 250px;
	margin-right: 250px;
	padding: 20px;
	max-width: 330px;
  margin: 0 auto;
}

.remember {
	
	padding:10px;
}

.register {
	text-align: right;
}

.reply_post {
	background: #eee;
	width: 75%;
  	margin: 20px;
  	border:2px solid
  	border-color:#AF3838;
	border-radius:5px;
	margin-left: auto;
	margin-right: auto;

	padding: 5px;


}

h1 {text-align:right}

