body {
	background-color:#FFFFFF;
}

.post {
    background: #FFFFFF;
    margin: 10px;
    border:2px solid;
    border-color:#AF3838;
	border-radius:5px;

	padding: 10px;
	
}

.task {
    background: #FF6699;
    margin: 10px;
    border:2px solid;
    border-color:#AF3838;
	border-radius:5px;

	padding: 10px;

}


.post_options {
	background: #C0C0C0;
	width: 40%;
    margin: 20px;
    border:2px solid;
    border-color:#AF3838;
	border-radius:5px;
	margin-left: auto;
	margin-right: auto;

	padding: 5px;
	
}

.stream {
	background: #C0C0C0;
    margin: 2px;
    width: 50%;
    margin-left: auto;
	margin-right: auto;
    border:2px solid;
    border-color:#AF3838;
	border-radius:5px;

	padding: 1px;
	
}

ul
{
list-style-type:none;
margin:0;
padding:10px;
float: right;

}

li {
	display: inline;
}

.title {
	padding: 50px;

}

.login_box {
	background: #C0C0C0;
    margin: 2px;
    border:2px solid;
    border-color:#AF3838;
	border-radius:5px;
	text-align: center;
	margin-left: 250px;
	margin-right: 250px;
	padding: 20px;
}

.remember {
	
	padding:10px;
}

.register {
	
	text-align: right;
}

.reply_post {
	background: #C0C0C0;
	width: 75%;
    margin: 20px;
    border:2px solid;
    border-color:#AF3838;
	border-radius:5px;
	margin-left: auto;
	margin-right: auto;

	padding: 5px;


}




h1 {text-align:right}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
   font-weight: 300;
}