body {
	background-color:#b0c4de;
}

.post {
    background: #3399FF;
    margin: 10px;
    border:2px solid;
    border-color:#66CCFF;
	border-radius:25px;
margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.post_options {
	background: #3399FF;
    margin: 20px;
    border:2px solid;
    border-color:#66CCFF;
	border-radius:25px;
	box-shadow: 5px 5px 2px #888888;
	padding: 5px;
	
}

.stream {
	background: #33CCFF;
    margin: 2px;
    border:2px solid;
    border-color:#66CCFF;
	border-radius:25px;
	box-shadow: 5px 5px 2px #888888;
	padding: 1px;
	
}

h1 {text-align:right}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
   font-weight: 300;
}
