body {
	background-color:#FFFFFF;
}

.post {
    background: #FFFFFF;
    margin: 10px;
    border:2px solid;
    border-color:#AF3838;
	border-radius:5px;

	padding: 10px;
}


.post_options {
	background: #C0C0C0;
    margin: 20px;
    border:2px solid;
    border-color:#AF3838;
	border-radius:5px;
	margin-left: 500px;
	margin-right: 500px;

	padding: 5px;
	
}

.stream {
	background: #C0C0C0;
    margin: 2px;
    border:2px solid;
    border-color:#AF3838;
	border-radius:5px;

	padding: 1px;
	
}



h1 {text-align:right}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
   font-weight: 300;
}