<link rel="stylesheet" type="text/css" href ="@routes.Assets.at("stylesheets/theme.css")">
<html>
<head>
<title> About </title>

<ul>
<!--li><a href="@routes.Application.index">News Feed</a></li>
<li><a href="@routes.Application.tasks">Task List</a></li>
<li><a href="@routes.Application.gits">Git Commits</a></li>
<li><a href="@routes.Application.builds">Build History</a></li>
<li><a href="@routes.Application.about">About</a></li-->
<li><a href="@routes.Application.login">Log out</a></li>
</ul>

<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>


<style>

ul
{
list-style-type:none;
margin:0;
padding:10px;
float: right;

}

li {
	display: inline;
}

.title {
	padding: 50px;

}

.login_box {
	background: #C0C0C0;
    margin: 2px;
    border:2px solid;
    border-color:#AF3838;
	border-radius:5px;
	text-align: center;
	margin-left: 250px;
	margin-right: 250px;
	padding: 20px;
}

</style>


</head>

<body>


<div id = "title" align = "center" class ="title" >
<img src="@routes.Assets.at("images/title.jpg")" alt="some_text"
	width="500">
</div>
		
<div id = "login_box" class = "login_box">
	
	<p> TODO: About Page </p>

</div>

<div id = "logo" align = "center" class = "title" >
<img src="@routes.Assets.at("images/logo.jpg")" alt="some_text"
	width="500" >
</div>

<ul>
<li><a href="contact.asp">Contact us</a></li>
<li><a href="about.asp">About</a></li>
</ul>




</body>
</html>