@(groupID: String, toggle: String, userName: String, displayName: String, photo_url: String)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
      
    <!-- Our own style -->
    <link href ="@routes.Assets.at("stylesheets/theme.css")" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.js" type="text/javascript"></script>
  </head>

  <body>
  
    @navbar(groupID, userName)
   
  <div class="container">
    <a href="@routes.Application.feed(groupID,"feed")">
      <img src="@routes.Assets.at("images/title.jpg")" id ="title" alt="some_text"
    	width="200" >
      <img src="@routes.Assets.at("images/logo.jpg")" id = "logo"  alt="some_text"
      width="200" >

    </a>
    
    <h1 id="groupNameTitle" align="center"><b></b></h1>

	<br>
	<br>

 @upload(groupID, userName)
    
    <form id="taskAliasForm" role="form" style="display:none">
        <textarea name="taskAliasText" type="text" id = "taskAliasText" rows ="1" cols = "8"
    	 maxlength="8" class="form-control" onKeyUp="illegalSpace()" placeholder="Task Alias" style = "resize: none" ></textarea>
        <p><b>Task Alias</b> - (Optional) Up to 8 characters to use when referencing this task.</p>
      </form>

	

    <div id = "post_options" align="center">
    		
      <form id ="post_form" name="myform" role="form">
        <textarea name="limitedtextarea" type="text" id="limitedtextfield" rows="5" cols="30"
        onKeyUp="postFormOnKeyDown()" class="form-control" 
        placeholder="Press the hash key to reference a task" style="resize: none"></textarea>
        <br>
        <small align="right"> <!--(Maximum characters: 140)-->
        You have <input readonly type="text" id="charCountdown" name="countdown" size="3" > characters left.</small>

      </form>
   
    <div class="container">
    <select id="post_type" onchange="postTypeChange(this.value)" align = "center" style = "width: 50%" class="form-inline form-control">
      <option value="text_post">Text Post</option>
      <option value="task">Task</option>
      <option value="upload">File Upload</option>
    </select>
  </div>
     		
    	<button type="button" class="btn btn-success" onclick="postToFeed()">Post</button>
    </div>
    <h4 id = "task_status"></h4>

    <div id = "posts" class = "float">
    </div>

              <div id="preloader"><img src="@routes.Assets.at("images/482.GIF")" alt=
"AJAX loader" title="AJAX loader" align="center" /></div>

    

    <ul id = "stream" class = "media-list" ></ul>
    <div align="center" display = "none" id = "seeMoreButton">
      <button id = "loadMoreButton"class = "btn btn-info" style = "margin: 10px" onclick = "loadMoreFeed()">See more...</button>
    </div>
    <div id="loader" align="center" display = "none"><img src="@routes.Assets.at("images/482.GIF")" alt=
        "AJAX loader" title="AJAX loader"  /></div>
  </div> <!-- /container -->  


  <script>
  var localToggle = "@toggle";
  var msgTextLimit = 140;
  var aliasLimit = 8;
  var taskTextLimit = 64;
  
  charCountdown.value=msgTextLimit;
  limitedtextfield.maxlength=msgTextLimit;
  
  function getGroupAndStatuses() {
  
  	$.ajax({
        type: "GET",
        url: "/rest/groups",
        dataType: "json",
        success: function(data){
        	
        	var statuses;
        	
        	//Set News Feed dropdown to display projects
        	//set Title to selected project
        	for (var i=0; i < data.length; i++) {
        		var currGroupID = data[i]['customID'];
  				var groupName = data[i]['name'];
  				var li = document.createElement("li");
  				var a = document.createElement("a");
  				a.innerHTML=groupName;
  				a.href="/" + currGroupID;
  				li.appendChild(a);
  				newsDrop.appendChild(li);
  				if(currGroupID == "@groupID"){
  					document.getElementById("groupNameTitle").innerHTML=groupName;
  					statuses = data[i]['statuses'];
  				}
  			}
  			//set Tasks dropdown to display statuses
  			for(var j=0; j<statuses.length; j++) {
				var li = document.createElement("li");
  				var a = document.createElement("a");
  				a.innerHTML=statuses[j];
  				a.href= "/" + "@groupID" + "/tasks/" + statuses[j].replace(" ", "_");
  				li.appendChild(a);
  				taskDrop.appendChild(li);
  				
  			}
  			
  			
        }
      });
      
  }
  
  getGroupAndStatuses();
  
  $.fn.outerHTML = function(){

	    // IE, Chrome & Safari will comply with the non-standard outerHTML, all others (FF) will have a fall-back for cloning
	    return (!this.length) ? this : (this[0].outerHTML || (
	      function(el){
	          var div = document.createElement('div');
	          div.appendChild(el.cloneNode(true));
	          var contents = div.innerHTML;
	          div = null;
	          return contents;
	    })(this[0]));

	}
	
	$(window).scroll(function () {
   		if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {

   		}
	});
  
    function illegalSpace() {
    	if(event.keyCode == 32) {
    		taskAliasText.value = taskAliasText.value.substring(0, taskAliasText.value.length-1);
    		return false;
    	}
    }

    function postFormOnKeyDown () {
      if (event.keyCode == 13) { 
        postToFeed(); 
        return false; 
      }
      var dropdown = document.getElementById("post_type");
      var charLimit;
      if (dropdown.options[dropdown.selectedIndex].value == "task") {
      	charLimit = taskTextLimit;
      } else {
        charLimit = msgTextLimit;
      }
      limitText(charLimit);
    }
    
    function limitText(limitNum) {
      if (limitedtextfield.value.length > limitNum) {
        limitedtextfield.value = limitedtextfield.value.substring(0, limitNum);
      } else {
        charCountdown.value = limitNum - limitedtextfield.value.length;
      }
    }

  var post_count = 0;
  var task_aliases = [];
  var task_ids = [];
  var tasks = [];
  var task_names = [];
  var user_images = new Array();
  var final_post_id;
  var first_post_id;


  document.getElementById("title").style.marginTop = "20px";
  document.getElementById("title").style.marginBottom = "10px";
  document.getElementById("logo").style.float = "right";
  document.getElementById("logo").style.marginTop = "25px";
  document.getElementById("charCountdown").style.marginBottom = "10px";
  document.getElementById("post_type").style.marginBottom = "10px";
  document.getElementById("preloader").style.textAlign = "center";
  document.getElementById("preloader").style.marginTop = "100px";


  function hideInputs() {

    document.getElementById("post_options").style.display = 'none';
    document.getElementById("post_type").style.display = 'none';

  }



  function generateJSON(date_and_time_stamp, object, post_id, references) {


      $('#preloader').show();

      var actor = generatePersonActor();

      return "{\"published\" : \""
                + date_and_time_stamp
                + "\", "
                + actor
                + "\"verb\" : \"said\", \"object\" : " 
                + object
                + ", \"target\" : { \"messageID\" : \"" 
                + post_id
  	      	    + "\", \"taskIDs\" : ["
  	      	    + references
                +  "]}} ";
  }

  function generateTaskObject(name, status, priority, alias) {
  
    return "{\"objectType\" : \"TASK\" , " 
           + "\"name\" : \"" + name + "\" , "
           + "\"status\" : \"" + status + "\" , "
           + "\"priority\" : \"" + priority + "\", "
           + "\"alias\" : \"" + alias + "\" }";
           
  }

  function generateMessageObject(message) {
    return "{\"objectType\" : \"MESSAGE\" , " 
           + "\"message\" : \"" + message + "\"}";
  }

  function generatePersonActor() {
    return "\"actor\" : "
            + "{\"objectType\" : \"PERSON\", \"username\" : \"@userName\","
            + " \"photo_url\": \"@photo_url\", \"displayName\": \"@displayName\"}, ";

  }

  function postTypeChange(option) {
  
  	limitedtextfield.cols = 30;
  	limitedtextfield.value = "";
  	
  	if (option == "text_post") {
  		document.getElementById("post_form").style.display="inline";
  		limitedtextfield.rows = 5
  		limitedtextfield.maxlength=msgTextLimit;
  		charCountdown.value = msgTextLimit;
       	 	limitedtextfield.placeholder="Press the hash key to reference a task";
        	taskAliasForm.style.display="none";
        	document.getElementById("upload-widget").style.display="none";
  	} else if (option == "task") {
  		document.getElementById("post_form").style.display="inline";
  		limitedtextfield.rows = 1;
  		limitedtextfield.maxlength=taskTextLimit;
        	charCountdown.value = taskTextLimit;
        	limitedtextfield.placeholder="Your Task";
	  	taskAliasForm.style.display="inline";
	    	document.getElementById("upload-widget").style.display="none";
    } else {
    		document.getElementById("post_form").style.display="none";
    		taskAliasForm.style.display="none";
    		document.getElementById("upload-widget").style.display="inline";
    	
    }

  }

  function setTaskStatus(status) {
  localToggle="tasks";
  document.getElementById("stream").innerHTML = "";
  document.getElementById("task_status").innerHTML = status;
    $.ajax({
        type: "GET",
        url: "/" + "@groupID" + "/rest/tasks/" + status,
        dataType: "json",
        success: function(data){

            generateFeed(data);
            
        }
      });
  }
  
  function refreshFeed() {
      document.getElementById("stream").innerHTML = "";
      $('#loader').hide();
      $('#loadMoreButton').hide();
      first_post_id = "";
      autoRefreshing = false;
      tasksFetched = false;

      var getUrl = "/" + "@groupID" + "/rest/";

		getUrl += "@toggle";

			//add all tasks to list for referencing
          $.ajax({
          type: "GET",
          url: "/" + "@groupID" + "/rest/alltasks",
          dataType: "json",
          success: function(data){   
              addTasks(data);
          }});
	

  }

  function generateAppropriateFeed() {
	//if toggle is a reference, generate	

      var getUrl = "/" + "@groupID" + "/rest/";

		getUrl += "@toggle";	

    var id = "@toggle";
    if (id.length == 24) {

          hideInputs();

            $.ajax({    
           type: "GET",
           url: "/" + "@groupID" + "/rest/ref/" + "@toggle",
            dataType: "json",
            success: function(data){ 

              generateFeed(data);
          }});
      

      
      } else {
          $.ajax({    
            type: "GET",
             url: getUrl,
             dataType: "json",
             success: function(data){   
              generateFeed(data);
               
             }});
    }

  }

  $(document).ready(refreshFeed);	


  function addTasks(task_array) {

  	for (var i=0; i < task_array.length; i++) {
  		var task_id = task_array[i]['id'];
  		var task_alias = task_name = task_array[i]['object']["alias"];
      var task_details = task_array[i]['object']["name"];
      var task_name;

  		if(task_alias != "") {
  			task_name = task_alias;
  		} else {
  			task_name = task_details;
  		}

      task_ids[task_name] = task_id;

      tasks[i] = "{ \"value\": \"" + task_name + "\" , \"data\":\"" + task_id + "\" }";
      tasks[i] = jQuery.parseJSON(tasks[i]);
  	}
	generateAppropriateFeed();
  }

  function addPhotoForUser(username, photo_url) {

    if (user_images[username] == undefined) {

        user_images[username] = photo_url;
    } 
  } 



  function autocomplete_setup() {
  $(function ()  {
     var lastHash = -1;
     var hashes = [-1];

     $(":input").autocomplete({
         minLength: 0,
         source: function (request, response) {
            var limitedtextfield = this.element;
	    var dropdown = document.getElementById("post_type");
             if (lastHash>=0 /* && dropdown.options[dropdown.selectedIndex].value == "text_post"*/) {
                 response($.ui.autocomplete.filter(
                 tasks, request.term.substring(lastHash+1)));          
             }
         },
         focus: function () {
             return false;
         },
         select: function (event, ui) {
             var terms = this.value.split();
             terms.pop();
             terms.push(ui.item.value);
            // terms.push("");
             this.value = this.value.substr(0,lastHash + 1);
             this.value += terms.join("");
             this.value += "#";
             return false;
         },
         messages: {
           noResults: '',
           results: function() {}
         },
        // position: {
          //  of:"#limitedtextfield",
            //offset: "-2px 0 0 0" },
         open: function(event, ui){
            var $input = $(event.target),
            $results = $input.autocomplete("widget");
            $results.css("background-color", "#d9edf7");
            $results.css("list-style", "none");
            $results.css("border", "2px solid");
            $results.css("border-radius", "5px");
            $results.css("width", "50%");
            $results.css("border-color", "#AF3838");
            $results.css("z-index", "30 !important");
            $results.css("position", "absolute");


        }
     }).on("keypress", function (e) {
         var keys = [];
         keys.unshift(e.which);
         if (String.fromCharCode(keys[0]) == "#") {
             lastHash =  $(":focus").val().length;
             hashes.unshift(lastHash);
         }
     }).on("keydown", function (e) {
        if (e.keyCode == 8) {
          var selection = $(":focus").val();
          var deleted_char = selection.charAt(selection.length -1);
          if (deleted_char == "#") {
            hashes.splice(0, 1);
            lastHash = hashes[0];
          $(":focus").autocomplete('close');
          }

        }

     });


   });
}
    // Load on scroll to bottom is not used because when loading is low, multiple ajax calls 
    // are sent to load the next 20 feeds before first call is finished. AS a result, multiple 
    // copies of 20-40 posts are loaded. 
    // Possible solution: use a timer to limit the number of ajax calls sent (e.g. 1 per 10 seconds?)

    /*$(window).scroll(function () {
      if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {
        if(@toggle=="feed") {
          //alert("feed page");
          $.ajax({
            type: "GET",
            url: "/" + "@groupID" + "/rest/morefeed/" + final_post_id,
            dataType: "json",
            success: function(data){   
                addToFeed(data);
            }});
        } else {
          alert("end of page");
        }

      }
  });*/
  var autoRefreshing;
  function autoRefresh() {    
    var getUrl = "/" + "@groupID" + "/rest/";
    switch("@toggle")
      {
      case "feed":
        getUrl += "newfeed/";
        break;
      case "tasks":
        getUrl += "moretask/";
        break;
      case "gits":
        getUrl += "newgits/";
        break;
      case "builds":
        getUrl += "morebuild/";
        break;
      }
    setInterval(function() {
      $.ajax({    
      type: "GET",
      url: getUrl + first_post_id,
      dataType: "json",
      success: function(data){   
          autoRefreshing = true;
          addToFeed(data);
          autoRefreshing = false;
      }});
    }, 5000);
  }

  function loadMoreFeed() {
    $('#loadMoreButton').hide();
    $('#loader').show();

    //final_post_id = $("ul#stream li").last().attr("id");

    var getUrl = "/" + "@groupID" + "/rest/";
    switch("@toggle")
      {
      case "feed":
        getUrl += "morefeed/";
        break;
      case "tasks":
        getUrl += "moretask/";
        break;
      case "gits":
        getUrl += "moregit/";
        break;
      case "builds":
        getUrl += "morebuild/";
        break;
      }
    $.ajax({    
      type: "GET",
      url: getUrl + final_post_id,
      dataType: "json",
      success: function(data){   
          addToFeed(data);
      }});
  }
  
  function generateFeed(stream_array) {

    addToFeed(stream_array);
    autoRefresh();
  }

  function addToFeed(stream_array) {

  	//document.getElementById("username").innerHTML="@userName";

	//highlight nav bar
    if (localToggle == "feed") {
      document.title = "News Feed";
      document.getElementById("newsfeed_nav").setAttribute("class","active");
      document.getElementById("tasklist_nav").setAttribute("class","");
      document.getElementById("git_nav").setAttribute("class","");
      document.getElementById("builds_nav").setAttribute("class","");
    } else if(localToggle == "tasks") {
    	document.title = "Task List"
      document.getElementById("newsfeed_nav").setAttribute("class","");
      document.getElementById("tasklist_nav").setAttribute("class","active");
      document.getElementById("git_nav").setAttribute("class","");
      document.getElementById("builds_nav").setAttribute("class","");
    } else if(localToggle == "gits") {
      document.title = "Git Commits"
      document.getElementById("git_nav").setAttribute("class","active");
      document.getElementById("newsfeed_nav").setAttribute("class","");
      document.getElementById("tasklist_nav").setAttribute("class","");
      document.getElementById("builds_nav").setAttribute("class","");
    } else if(localToggle == "builds") {
      document.title = "Jenkins Builds"
      document.getElementById("builds_nav").setAttribute("class","active");
      document.getElementById("newsfeed_nav").setAttribute("class","");
      document.getElementById("tasklist_nav").setAttribute("class","");
      document.getElementById("git_nav").setAttribute("class","");
    } else if (localToggle == "taskdetails") {
      document.title = "@toggle";
      document.getElementById("builds_nav").setAttribute("class","");
      document.getElementById("newsfeed_nav").setAttribute("class","");
      document.getElementById("tasklist_nav").setAttribute("class","");
      document.getElementById("git_nav").setAttribute("class","");
      document.getElementById("post_options").style.display="none";

      var task_title = document.createElement("h2");
      task_title.style.marginBottom = "20px";
      var stream = document.getElementById("stream");
      document.getElementById("container").insertBefore(task_title, stream);

      if (stream_array.length > 0) {

        task_title.innerHTML = "References to task @toggle";
      } else {
        task_title.innerHTML = "There are no references to task @toggle";
      }
      $('#seeMoreButton').hide();
    }
    

  	for (var i=0; i < stream_array.length;i++) {

  		var message_type = stream_array[i][0]['object']["objectType"];

  		var post_no = 0;

  		var post_id = stream_array[i][0]['id'];
      		final_post_id = post_id;  
      		if (first_post_id == "" || autoRefreshing) {
        		first_post_id = post_id;
      		} 

  		var published = stream_array[i][0]['published'];

  		var publisher;
  		var displayName = stream_array[i][0]['actor']["displayName"];
  		var username = stream_array[i][0]['actor']["username"];
     		var photo_url = stream_array[i][0]['actor']["photo_url"];

  		if (displayName == "") {
  		  publisher = username;
  		} else {
  		  publisher = displayName;
  		}
  		var publisherType = stream_array[i][0]['actor']["objectType"];
  	
  		var verb = stream_array[i][0]['verb'];

  		var post = document.createElement("li");
      		post.setAttribute("class", "media");
  		post.id = post_id;
  		post.className = "post";

      		var post_body = document.createElement("div");
      		post_body.setAttribute("class", "media-body");
  	
  		var stream = document.getElementById("stream");

      		var id = "@toggle";
      		if (id.length == 24 && i == 0) {
        		var task_div = document.createElement("H2");
        		task_div.innerHTML = "Referenced task: ";
        		stream.appendChild(task_div);
        
      		}

      		if (id.length == 24 && i == 1) {
        	var task_div = document.createElement("H2");
        	task_div.innerHTML = "References to task: ";
        	stream.appendChild(task_div);
        
      		}

      		//stream.insertBefore(post);
      		if (autoRefreshing) {
        		$("#stream").prepend(post);
      		} else {
        		stream.appendChild(post);
     		}
     

  		/*if (post_count > 0) {
  			stream.insertBefore(post, stream.childNodes[0]);
  		} else {
        stream.insertBefore(post);
  		}*/



  		var date_and_time = document.createElement("small");
  		date_and_time.innerHTML = published + "<br>";

      		var reply_message_div = document.createElement("div");
      		reply_message_div.setAttribute("class", "col-xs-8");

  		var reply_message = document.createElement("input");
  		reply_message.placeholder = "Your message"
  		reply_message.type = "text";
      		reply_message.setAttribute("class", "form-control input-sm");
  					
  		var reply_button = document.createElement("button");
      		reply_button.setAttribute("class", "btn btn-default btn-sm");
  		reply_button.innerHTML = 'Reply';
      		reply_message_div.appendChild(reply_message);

  		var post_options = document.createElement("div");

  		if (username == "@userName") {
  			var delete_button = document.createElement("button");
        		delete_button.setAttribute("class", "btn btn-danger btn-xs");
  			delete_button.innerHTML = "Delete";
  			post_options.appendChild(delete_button);
  		 	delete_button.onclick = (function(post_id) {
            	  					return function() {
                    					var choice = confirm("Are you sure you want to delete this post?");
                    					if (choice == true) {
            	         					delete_post(post_id);
                   					}
              						}
         	 					}(post_id));
  		}


  		reply_button.onclick = (function(post_id, reply_message) {
              	return function() {
                replyToPost(post_id, reply_message);
              	}
          	}(post_id, reply_message));

      		var user_image = document.createElement("image");
      		user_image.style.width = "8%";
      		user_image.style.borderRadius = "50px";
      		user_image.style.float = "right";
      		user_image.style.margin = "5px";
      		user_image.style.marginLeft = "10px";
      		user_image.style.border = "3px solid white";

      		addPhotoForUser(username, photo_url);
      		if (user_images[username] != undefined) {
      			user_image.src = user_images[username];
      		}

      		post.appendChild(user_image);
      
      		post_options.style.padding = "10px";
  		
      switch(message_type){

      	case "MESSAGE":

  		var user = document.createElement("h4");
        	user.setAttribute("class", "media-heading");
  		user.innerHTML = publisher;
  		
  		var message_text = stream_array[i][0]['object']["message"];

  		var message = document.createElement("p");
  		message_text = message_text.replace("\n", "<br>");
        	message.innerHTML = changeReferencesToLinks(message_text);
  			
  	    	post_body.appendChild(user);
  		post_body.appendChild(message);
        	post_body.appendChild(date_and_time);
  		post_body.appendChild(reply_message_div);
  		post_body.appendChild(reply_button);
        	post.appendChild(post_body);

        		break;

      	case "TASK":

  		var task_name = stream_array[i][0]['object']["name"];
		var task_alias = stream_array[i][0]['object']["alias"];
        	var task_heading = document.createElement("h4");
        	task_heading.setAttribute("class", "media-heading");

        	if (task_alias != "") {
        	task_heading.innerHTML = changeReferencesToLinks("Task" + " - #" + task_alias + "#");
     		}

      		else {
        	task_heading.innerHTML = changeReferencesToLinks("Task" + " - #" + task_name + "#");
      		}
        
  		var task_data = document.createElement("p");

  		var task_status = stream_array[i][0]['object']["status"];
  		var task_priority = stream_array[i][0]['object']["priority"];
  		post.style.backgroundColor = "#d9edf7";
  		task_data.innerHTML = task_name + " BY " + publisher.bold();
  		var task_details = document.createElement("p");
  		task_details.style.cssFloat = "right";
		task_details.innerHTML = "Status: ".bold() + task_status + "<br> Priority: ".bold() + task_priority;

  		var priority_button = document.createElement("button");
  		priority_button.innerHTML= "Change Task Priority";
  		priority_button.type = "text";
  		priority_button.onclick = (function (post_id) {
  						return function() {
  						var new_priority = window.prompt("Please enter a priority between 1 and 3: ");
  						if (new_priority <  4 && new_priority > 0) {
  						post_new_task_details(new_priority, "p", post_id);
  						} else {
  						alert("Value entered is not between 1 and 3");
  						}
  						}
  					}(post_id));


  		var status_button = document.createElement("button");
  		status_button.innerHTML= "Change Task Status";
  		status_button.type = "text";
  		status_button.onclick = (function (post_id) {
  						return function() {
  						var new_status = window.prompt("Please enter a new task status from (TO_DO/DOING/DONE)");
  						if((new_status == "TO_DO") || (new_status == "DOING") || (new_status == "DONE")) {
  							post_new_task_details(new_status, "s", post_id);
  						} else {
  							alert("Not a valid status");
  						}
  			
  						}
		  			}(post_id));


    		post_options.appendChild(priority_button);
    		post_options.appendChild(status_button);

        	post_body.appendChild(task_heading);
        	post_body.appendChild(task_details);
  		post_body.appendChild(task_data);	
        	post_body.appendChild(date_and_time);	
  		post_body.appendChild(reply_message_div);
  		post_body.appendChild(reply_button);
        	post.appendChild(post_body);
		break;

  	case "JENKINS" :

  		var jenkins = document.createElement("h4");
       		jenkins.setAttribute("class", "media-heading");
  		jenkins.innerHTML = publisher;

        	user_image.src = "@routes.Assets.at("images/jenkins.png")";
        	user_image.style.width = "7%";
        	user_image.style.border = "";
  			
  		var build_data = document.createElement("p");
  		var build_name = stream_array[i][0]['object']["name"];
  		var build_number = stream_array[i][0]['object']["number"];
  		var build_status = stream_array[i][0]['object']["status"];
  		var build_url = stream_array[i][0]['object']["url"];
  			
  		var build_link = document.createElement('a');
  		build_link.href = build_url;
  		build_link.innerHTML = "See build";
  			
  		if (build_status == "SUCCESS") {
  			post.style.backgroundColor = "#AFD772";	
  		} else {
  			post.style.backgroundColor = "#FF7A70";	
  		}
  			
  		build_data.innerHTML = build_name + " build " + build_number + " finished with status: " + build_status + ". ";
		build_data.appendChild(build_link);
  			
  		post_body.appendChild(jenkins);
  		post_body.appendChild(build_data);
        	post_body.appendChild(date_and_time);
  		post_body.appendChild(reply_message_div);
  		post_body.appendChild(reply_button);
        	post.appendChild(post_body);
  			break;
	
  	case "GIT":
  		
  		var repo = stream_array[i][0]['object']['repository'];
  		var repo_name = repo["name"];
  		var repo_url = repo["url"];
  		var branch = stream_array[i][0]['object']['branch'];
  		var branch_name = branch["name"];
  		var branch_url = branch["url"];

        	user_image.src = "@routes.Assets.at("images/git.png")";
        	user_image.style.width = "7%";
        	user_image.style.border = "";

       		var git_heading = document.createElement("h4");
        	git_heading.setAttribute("class", "media-heading");
        	git_heading.innerHTML = "GIT";
  			
  		var branch_link = document.createElement('a');
  		branch_link.href = branch_url;
  		branch_link.innerHTML = branch_name.bold()
  			
  		var repo_link = document.createElement('a');
  		repo_link.href = repo_url;
  		repo_link.innerHTML = repo_name.bold()
  			
  			
  		var git_data = document.createElement("div");
  		git_data.innerHTML = publisher.bold() + " pushed to branch " + $(branch_link).outerHTML() + " at repository " + $(repo_link).outerHTML();
  			
  		var commits = stream_array[i][0]['object']['commits'];
  		var commit_total = stream_array[i][0]['object']['totalCommits'];
		var commit_length = commits.length;
  		var commit_data = document.createElement("div");
  		var commit_list = document.createElement("ul");
  		commit_data.appendChild(commit_list);

  		for(var k = commit_length-1; k>= Math.max(0, commit_length-3); k--) {
  			var commit = commits[k];
  			var commit_url = commit["url"];
  			var commit_author = commit["author"];
  			var commit_message = commit["message"];
  			commit_message = changeReferencesToLinks(commit_message);
  			var commit_link = document.createElement('a');
  			commit_link.href = commit_url;
  			commit_link.innerHTML = "See commit"
  				
  				
  			var commit_list_entry = document.createElement("li");
  			commit_list_entry.style.display="block";
  			commit_list_entry.innerHTML = commit_author.bold() + ": " + commit_message + " " + $(commit_link).outerHTML();
  			commit_list.appendChild(commit_list_entry);
  				
  			}
  			if (commit_total > 3){
  				var summary_link = document.createElement('a');
  				summary_link.href = branch_url;
  				summary_link.innerHTML = "... and " + (commit_total - 3) + " more commits";
  				var commit_summary = document.createElement("li");
  				commit_summary.appendChild(summary_link);
  				commit_summary.style.display="block";
  				commit_list.appendChild(commit_summary);
  				
  			}
  			
  			post.style.backgroundColor = "#fcf8e3";
       			post_body.appendChild(git_heading);
  			post_body.appendChild(git_data);
  			post_body.appendChild(commit_data);
        		post_body.appendChild(date_and_time);
  			post_body.appendChild(reply_message_div);
  			post_body.appendChild(reply_button);
  			post.appendChild(post_body);
  			break;
  			
  	case "IMAGE":

  			var user = document.createElement("h4");
  	        	user.setAttribute("class", "media-heading");
  	  		user.innerHTML = publisher;
  	  		
  	  		var upload_image = document.createElement("image");
  			upload_image.style.height = "400px";
  			upload_image.style.width = "400px";
  			upload_image.src= stream_array[i][0]['object']['web_preview_url'];
  	  			
  	  	    	post_body.appendChild(user);
  	  		post_body.appendChild(upload_image);
  	        	post_body.appendChild(date_and_time);
  	  		post_body.appendChild(reply_message_div);
  	  		post_body.appendChild(reply_button);
  	        	post.appendChild(post_body);
  	        	break;
  		}

  		 	reply_button.onclick = (function(post_id, reply_message) {
              						return function() {
                  					replyToPost(post_id, reply_message);
             			 			}
          					}(post_id, reply_message));

  			 reply_message.onkeypress = (function(post_id, reply_message) { 
  		 					return function() {
  		 					if (event.keyCode == 13) {
  		 						replyToPost(post_id, reply_message);
  		 					}
  		 					}
  		 				}(post_id, reply_message));

  		var j = 1;
  		while (j < stream_array[i].length) {

  			if (stream_array[i][j]['object']["objectType"] == "TASK") {
  				var task_reference_div = document.createElement("div");
  				task_reference_div.innerHTML = "Referencing: " + stream_array[i][j]['object']["name"];
  				task_reference_div.className = "post";
  				task_reference_div.style["cssFloat"] = "right";
  				task_reference_div.style["background"] = "#d9edf7";
  				task_reference_div.style["width"] = "30%";

  				//post.insertBefore(task_reference_div, post.firstChild);
  				j++;

  			} else {
  				var reply_div = document.createElement("div");
  				//reply_div.className = "reply_post";
  				reply_div.setAttribute("class", "media");
      	  			reply_div.style.paddingLeft = "10%";

          			var user_image = document.createElement("image");
          			user_image.style.width = "6%";
         			user_image.style.borderRadius = "50px";
          			user_image.style.float = "left";
          			user_image.style.marginRight = "10px";
          			user_image.style.marginTop = "10px";
          			user_image.style.border = "2px solid white";

          			reply_div.appendChild(user_image);

          			var reply_div_body = document.createElement("div");
          			reply_div_body.setAttribute("class", "media-body");
  				
  				var reply_published = document.createElement("small");
  				reply_published.innerHTML = stream_array[i][j]['published'];

  				var reply_publisher = document.createElement("h4");
          			reply_publisher.setAttribute("class", "media-heading");

          			var reply_username = stream_array[i][j]['actor']["username"];
         			var reply_displayName = stream_array[i][j]['actor']["displayName"];
          			var reply_photo_url = stream_array[i][j]['actor']["photo_url"];

          			reply_publisher.innerHTML = reply_username;

			        if (reply_displayName != "") {
	              			reply_publisher.innerHTML = reply_displayName;
          			}

          			addPhotoForUser(reply_username, reply_photo_url);

          			if (user_images[reply_username] != undefined) {
           			user_image.src= user_images[reply_username];
          			}

  				var reply_message_text = document.createElement("p");
  				reply_message_text.innerHTML = changeReferencesToLinks(stream_array[i][j]['object']["message"]);
  			
  				var reply_publisherType = stream_array[i][j]['actor']["objectType"];
  	
  				var reply_verb = stream_array[i][j]['verb'];
  		
  				var reply_message_type = stream_array[i][j]['object']["objectType"];

          			post_body.appendChild(reply_div);
          			reply_div.appendChild(reply_div_body);
          			reply_div_body.appendChild(reply_publisher);
          			reply_div_body.appendChild(reply_published);
          			reply_div_body.appendChild(reply_message_text);    
  				j++;

  		  	}

  		}

      		post_body.appendChild(reply_message_div);
      		post_body.appendChild(reply_button);
  	  	post.appendChild(post_options);
  		post_no = post_no + 1;
  	}

    autocomplete_setup();
    $('#preloader').hide();
    $('#loader').hide();
    $('#loadMoreButton').show();
  	
  }


  function post_new_task_details(value, id, post_id) {

  	var json = "{\"id\" : \"" + post_id + "\", "

  	if (id == "p") {

  		json += "\"priority\": " + value;

  	}

  	if (id == "s") {

  		json += "\"status\": \"" + value + "\"";

  	}

  	json += "}";


   	$.ajax({
		type: "POST",
		url: "/" + "@groupID" + "/rest/update/task",
		dataType: "json",
		data: {"activity":json},
		complete: refreshFeed
	});      

  }

  function delete_post(post_id) {

  	var json = "{\"id\" : \"" + post_id + "\"}"

  	$.ajax({
		  type: "POST",
		  url: "/" + "@groupID" + "/rest/delete/post",
		  dataType: "json",
		  data: {"activity":json},
		  complete: refreshFeed
	   });    
  }

  function getTimeStamp() {
    var currentdate = new Date();
    return ("" + currentdate.getDate() + "/"
                    + (currentdate.getMonth()+1)  + "/" 
                    + currentdate.getFullYear() + " at "
                    +  getLeadingZeros(currentdate.getHours()) + ":"  
                    + getLeadingZeros(currentdate.getMinutes()) + ":" 
                    + getLeadingZeros(currentdate.getSeconds())); 
  }

  function getLeadingZeros(number) {
  	var numberString = number + "";
  	if (numberString.length < 2) {
  		return "0" + numberString;
  	} else {
  		return number;
  	}
  }

  function replyToPost(post_id, reply_message) {

  	var post = document.getElementById(post_id);
  	var reply_name_text = "@userName";
  	var reply_message_text = reply_message.value;

  	if (reply_message_text == "" && reply_message_text != null) {
  		alert("Reply cannot be empty.");
  	} else {

  		var date_and_time_stamp = getTimeStamp();
  		var references = [];

        var ref_id = getRefId(reply_message_text);
        var references = [];
        if (ref_id != "") {
          references =  ["\"" + ref_id + "\""];
        }

  	var message_object = generateMessageObject(reply_message_text);

    var actor = generatePersonActor();

    var reply = generateJSON(date_and_time_stamp, message_object, post_id, references); 

      $.ajax({
      	type: "POST",
      	url: "/" + "@groupID" + "/rest/message",
      	dataType: "json",
      	data: {"activity":reply},
      	complete: refreshFeed 
      });

  	}

  }


  function changeReferencesToLinks(message) {	

    var hashtagRegex = new RegExp("#[^#]*#");

    var tag = hashtagRegex.exec(message);

    result = message;	

    if (tag != null) {
	//alert(tag);
	

      	var linked_tag = document.createElement('a');

      	var tag_without_hashes = tag[0].substring(1, tag[0].length -1);

      	var task_id = task_ids[tag_without_hashes];

      	if(task_id != undefined){
      		linked_tag.href = "/@groupID/ref/" + task_id;
    
      		linked_tag.innerHTML = tag;

      		result = result.replace(tag, $(linked_tag).outerHTML());
      	}
	
    }
	
    //Change urls into links
    var urlRegex = /(https?:\/\/[^\s]+)/g;
    return result.replace(urlRegex, function(url) {
        return '<a href="' + url + '">' + url + '</a>';
    })

  }


  function getRefId(message) {

    var result = message.split("#");
    var reference = result[1];

    var i = 0;

    if (task_ids[reference] != undefined) {

      return task_ids[reference];

    }

      return "";

  }

  function postToFeed() {

      var currentdate = new Date();
      
      var name_text = "@userName";

      var message_text = document.getElementById("limitedtextfield").value;
      
      message_text = message_text.replace("\n", "\\n").replace("\t", "\\t").replace("\r", "\\r");
      
      var dropdown = document.getElementById("post_type");
      var dropdown_value = dropdown.options[dropdown.selectedIndex].value;
      
      var date_and_time_stamp = getTimeStamp();
      
      if (name_text != "" && message_text != "" && dropdown_value == "text_post") {

        var ref_id = getRefId(message_text);

  	    var references = [];

        if (ref_id != "") {

      		references =  ["\"" + ref_id + "\""];

        }

      var message_object = generateMessageObject(message_text)    

      var post = generateJSON(date_and_time_stamp, message_object,
      						"", references);

        $.ajax({
            type: "POST",
            url: "/" + "@groupID" + "/rest/message",
            dataType: "json",
            data: {"activity":post},
	    complete:autoRefresh
            //complete: refreshFeed        
	});
                    
      } else if (name_text != "" && message_text != "" && dropdown_value == "task") {

          var references = [];
		  
		  var alias = document.getElementById("taskAliasText").value;
		  
          var task_object = generateTaskObject(message_text, "TO_DO", "1", alias);
          
          var post = generateJSON(date_and_time_stamp, task_object, "", references);

         $.ajax({
            type: "POST",
            url: "/" + "@groupID" + "/rest/message",
            dataType: "json",
            data: {"activity":post},
	    complete:autoRefresh
            //complete: refreshFeed
        });      
                    


          
      } 
      document.getElementById("limitedtextfield").value = "";
      document.getElementById("taskAliasText").value = "";
      document.getElementById("charCountdown").value = msgTextLimit;
  }

  </script>
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-16869805-2', 'group18-progress.herokuapp.com');
  ga('send', 'pageview');

</script>
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
  </body>
</html>
