@(toggle: Integer, userName: String)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
      
    <!-- Our own style -->
    <link href ="@routes.Assets.at("stylesheets/theme.css")" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@routes.Application.feed(0)">Progress</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav" role="navigation">
          <li id="newsfeed_nav" class = "active">
            <a href="@routes.Application.feed(0)">News Feed</a>
          </li>
          <li id="tasklist_nav"><a href="@routes.Application.feed(1)">Task List</a></li>
          <li><a href="@routes.Application.gits">Git Commits</a></li>
          <li><a href="@routes.Application.about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" role="navigation">
          <li><a href="@routes.Application.login">Log Out</a></li>
        </ul>
      </div> <!--/.nav-collapse -->
    </div>
    </div>

  <div class="container col-md-offset-2 col-md-8">
    <a href="@routes.Application.feed(0)">
      <img src="@routes.Assets.at("images/progress_all.jpg")" alt="some_text"
    	width="200" >
    </a>

    <div id = "post_options" align="center">
      <h1 id="username"> </h1>	
    		
      <form name="myform" role="form">
        <textarea name="limitedtextarea" type="text" id = "limitedtextfield" rows ="5" cols = "30"
        onKeyDown="postFormOnKeyDown(this)" maxlength="140" class="form-control" 
        placeholder="what's on your mind?"> </textarea>
        <br>
        <small align="right"> <!--(Maximum characters: 140)-->
        You have <input readonly type="text" name="countdown" size="3" value="140"> characters left.</small>

      </form>

    	<div id = "task_referencer" width = "100px" position = "relative">
    		<select id="tasks" display = "absolute" width = "100px">
    			<option value="default">-Reference a Task-</option>
    		</select>
    	</div>

    <select id="post_type" onchange="postTypeChange(this.value)">
      <option value="text_post">Text Post</option>
      <option value="task">Task</option>
    </select>
     		
    	<button type="button" class="btn btn-success" onclick="postToFeed()">Post</button>
    </div>



    <div id = "posts" class = "float">
    </div>

    <ul id = "stream" class = "media-list" ></ul>
  </div> <!-- /container -->  

  <script>
  $.fn.outerHTML = function(){

	    // IE, Chrome & Safari will comply with the non-standard outerHTML, all others (FF) will have a fall-back for cloning
	    return (!this.length) ? this : (this[0].outerHTML || (
	      function(el){
	          var div = document.createElement('div');
	          div.appendChild(el.cloneNode(true));
	          var contents = div.innerHTML;
	          div = null;
	          return contents;
	    })(this[0]));

	}
  
    if (@toggle == 0) {
    	document.title = "News Feed";
      document.getElementById("newsfeed_nav").setAttribute("class","active");
      document.getElementById("tasklist_nav").setAttribute("class","");
    } else {
    	document.title = "Task List"
      document.getElementById("tasklist_nav").setAttribute("class","active");
      document.getElementById("newsfeed_nav").setAttribute("class","");
    }


    function postFormOnKeyDown (currentElement) {
      if (event.keyCode == 13) { 
        postToFeed(); 
        return false; 
      }

    }

    function limitText(limitField, limitCount, limitNum) {
      if (limitField.value.length > limitNum) {
        limitField.value = limitField.value.substring(0, limitNum);
      } else {
        limitCount.value = limitNum - limitField.value.length;
      }
    }

  var post_count = 0;
  var task_ids = [];

  function generateJSON(date_and_time_stamp, person_name, object, post_id, references) {

      return "{\"published\" : \""
                + date_and_time_stamp
                + "\", "
                + "\"actor\" : "
                + "{\"objectType\" : \"PERSON\", \"displayName\" : "
                + "\"" 
                + person_name
                + "\"}, "
                + "\"verb\" : \"said\", \"object\" : " 
                + object
                + ", \"target\" : { \"messageID\" : \"" 
                + post_id
  	      	    + "\", \"taskIDs\" : ["
  	      	    + references
                +  "]}} ";
  }

  function generateTaskObject(name, status, priority) {
    return "{\"objectType\" : \"TASK\" , " 
           + "\"name\" : \"" + name + "\" , "
           + "\"status\" : \"" + status + "\" , "
           + "\"priority\" : \"" + priority + "\"}";
  }

  function generateMessageObject(message) {
    return "{\"objectType\" : \"MESSAGE\" , " 
           + "\"message\" : \"" + message + "\"}";
  }

  function postTypeChange(option) {
  	if (option == "text_post") {
  		var task_referencer = document.getElementById("task_referencer");
  		task_referencer.style.visibility= 'visible';
  		var limitedtextfield = document.getElementById("limitedtextfield");
  		limitedtextfield.rows = 5
  		limitedtextfield.cols = 30;

  	} else {
  		var task_referencer = document.getElementById("task_referencer");
  		task_referencer.style.visibility= 'hidden';
  		var limitedtextfield = document.getElementById("limitedtextfield");
  		limitedtextfield.rows = 1;
  		limitedtextfield.cols = 30;
  	}

  }


  function refreshFeed() {
      document.getElementById("stream").innerHTML = "";
      if(@toggle==0) {
      	$.ajax({
      	
          type: "GET",
          url: "/rest/feed",
          dataType: "json",
          success: function(data){   

              generateFeed(data);
          }});

      	$.ajax({
      	
          type: "GET",
          url: "/rest/alltasks",
          dataType: "json",
          success: function(data){   

              addTasks(data);
          }});

      } else if (@toggle==1){
      	$.ajax({
      	
          type: "GET",
          url: "/rest/tasks",
          dataType: "json",
          success: function(data){   

              generateFeed(data);
          }
      });
      }
      
  }

  $(document).ready(refreshFeed);	

  function addTasks(task_array) {

  	document.getElementById("tasks").options.length = 1;

  	for (var i=0; i < task_array.length; i++) {

  		var task_id = task_array[i]['id'];
  		task_ids[i] = task_id;

  		var task_name = task_array[i]['object']["name"];
  		var option = document.createElement("option");
  		option.text = task_name;
  		option.style.width = "100px";
  		var task_referencer = document.getElementById("tasks").add(option, null);
  	}

  }

  function generateFeed(stream_array) {

  	document.getElementById("username").innerHTML="@userName";

  	for (var i=0; i < stream_array.length;i++) {


  		var message_type = stream_array[i][0]['object']["objectType"];

  		var post_no = 0;

  		var post_id = stream_array[i][0]['id'];

  		var published = stream_array[i][0]['published'];

  		var publisher = stream_array[i][0]['actor']["displayName"];
  		
  		var publisherType = stream_array[i][0]['actor']["objectType"];
  	
  		var verb = stream_array[i][0]['verb'];

  		var post = document.createElement("li");
      post.setAttribute("class", "media");
  		post.id = post_id;
  		post.className = "post";

      var post_body = document.createElement("div");
      post_body.setAttribute("class", "media-body");
  	
  		if (post_count > 0) {
  			var stream = document.getElementById("stream");
  			stream.insertBefore(post, stream.childNodes[0]);
  		} else {
  			document.getElementById("stream").insertBefore(post);
  		}

  		var date_and_time = document.createElement("small");
  		date_and_time.innerHTML = published + "<br>";

      var reply_message_div = document.createElement("div");
      reply_message_div.setAttribute("class", "col-xs-8");

  		var reply_message = document.createElement("input");
  		reply_message.placeholder = "Your message"
  		reply_message.type = "text";
      reply_message.setAttribute("class", "form-control input-sm");
  					
  		var reply_button = document.createElement("button");
      reply_button.setAttribute("class", "btn btn-default btn-sm");
  		reply_button.innerHTML = 'Reply';
  		//reply_button.align = "right"; 	

      //reply_form.appendChild(reply_message);
      //reply_form.appendChild(reply_button);
      //reply_form_div.appendChild(reply_form);
      reply_message_div.appendChild(reply_message);

  		var post_options = document.createElement("div");

  		if (publisher == "@userName") {
  			var delete_button = document.createElement("button");
        delete_button.setAttribute("class", "btn btn-danger btn-xs");
  			delete_button.innerHTML = "Delete";
  			post_options.appendChild(delete_button);

  		 	delete_button.onclick = (function(post_id) {
            	  return function() {
            	      delete_post(post_id);
              }
         	 }(post_id));

  		}


  		 reply_button.onclick = (function(post_id, reply_message) {
              return function() {
                  replyToPost(post_id, reply_message);
              }
          }(post_id, reply_message));


  		post_options.style.padding = "10px";
  		
  		switch(message_type){
  		case "MESSAGE":
  			var user = document.createElement("h4");
        user.setAttribute("class", "media-heading");
  			user.innerHTML = publisher;
  		
  			var message_text = stream_array[i][0]['object']["message"];
  			var message = document.createElement("p");
  			message_text = message_text.replace("\n", "<br>");
  			message.innerHTML = message_text;

        /*
  			post.appendChild(date_and_time);
  			post.appendChild(user);
  			post.appendChild(message);
  			post.appendChild(reply_message);
  			post.appendChild(reply_button);
  			//post.appendChild(post_options);
        */
  			
  			post_body.appendChild(user);
  			post_body.appendChild(message);
        post_body.appendChild(date_and_time);
  			post_body.appendChild(reply_message_div);
  			post_body.appendChild(reply_button);
        //post_body.appendChild(reply_form_div);
        post.appendChild(post_body);

        break;
      case "TASK":
  			var task_name = stream_array[i][0]['object']["name"];
  			var task_data = document.createElement("div");
  			var task_status = stream_array[i][0]['object']["status"];
  			var task_priority = stream_array[i][0]['object']["priority"];
  			post.style.backgroundColor = "#d9edf7";
        //post.setAttribute("class", "alert, alert-warning");
  			task_data.innerHTML = "TASK: " + task_name.bold() + " BY " + publisher.bold();
  			var task_details = document.createElement("div");
  			task_details.style.cssFloat = "right";
  			task_details.innerHTML = "Status: ".bold() + task_status + "<br> Priority: ".bold() + task_priority;

  			var priority_button = document.createElement("button");
  			priority_button.innerHTML= "Change Task Priority";
  			priority_button.type = "text";
  		//	priority_button.style.cssFloat = "right";
  			priority_button.onclick = (function (post_id) {
  				return function() {
  					var new_priority = window.prompt("Please enter a priority between 1 and 3: ");
  					if (new_priority <  4 && new_priority > 0) {
						post_new_task_details(new_priority, "p", post_id);
					} else {
						alert("Value entered is not between 1 and 3");
					}
				}
  			}(post_id));

  			var status_button = document.createElement("button");
  			status_button.innerHTML= "Change Task Status";
  			status_button.type = "text";
  			status_button.onclick = (function (post_id) {
  				return function() {
					var new_status = window.prompt("Please enter a new task status from (TO_DO/DOING/DONE)");
					post_new_task_details(new_status, "s", post_id);
				
				}
  			}(post_id));


  			post_options.appendChild(priority_button);
  			post_options.appendChild(status_button);

  			if (publisher == "@userName") {
  				var assign_button = document.createElement("button");
  				assign_button.innerHTML = "Assign members";
  				post_options.appendChild(assign_button);

  		 		assign_button.onclick = (function(post_id) {
            		  return function() {
            	 	    // delete_post(post_id);
             	 }
         		}(post_id));
  			}

        post_body.appendChild(task_details);
  			post_body.appendChild(date_and_time);
  			post_body.appendChild(task_data);		
  			post_body.appendChild(reply_message_div);
  			post_body.appendChild(reply_button);
        post.appendChild(post_body);
  			//post.appendChild(post_options);
			break;
  		case "JENKINS" :
  			var jenkins = document.createElement("div");
  			jenkins.innerHTML = publisher  + ":";
  			
  			var build_data = document.createElement("div");
  			var build_name = stream_array[i][0]['object']["name"];
  			var build_number = stream_array[i][0]['object']["number"];
  			var build_status = stream_array[i][0]['object']["status"];
  			var build_url = stream_array[i][0]['object']["url"];
  			
  			var build_link = document.createElement('a');
  			build_link.href = build_url;
  			build_link.innerHTML = "See build";
  			
  			if (build_status == "SUCCESS") {
  				post.style.backgroundColor = "#AFD772";	
          //post_body.setAttribute("class", "alert alert-success");
  			} else {
  				post.style.backgroundColor = "#FF7A70";	
          //post_body.setAttribute("class", "alert alert-danger");
  			}
  			
  			build_data.innerHTML = build_name + " build " + build_number + " finished with status: " + build_status + ". ";
			  build_data.appendChild(build_link);
  			
  			post_body.appendChild(date_and_time);
  			post_body.appendChild(jenkins);
  			post_body.appendChild(build_data);
  			post_body.appendChild(reply_message_div);
  			post_body.appendChild(reply_button);
        post.appendChild(post_body);
  			break;
  		case "GIT":
  			var repo = stream_array[i][0]['object']['repository'];
  			var repo_name = repo["name"];
  			var repo_url = repo["url"];
  			var branch = stream_array[i][0]['object']['branch'];
  			var branch_name = branch["name"];
  			var branch_url = branch["url"];
  			
  			var branch_link = document.createElement('a');
  			branch_link.href = branch_url;
  			branch_link.innerHTML = branch_name.bold()
  			
  			var repo_link = document.createElement('a');
  			repo_link.href = repo_url;
  			repo_link.innerHTML = repo_name.bold()
  			
  			
  			var git_data = document.createElement("div");
  			git_data.innerHTML = publisher.bold() + " pushed to branch " + $(branch_link).outerHTML() + " at repository " + $(repo_link).outerHTML();
  			
  			var commits = stream_array[i][0]['object']['commits'];
  			var commit_total = stream_array[i][0]['object']['totalCommits'];
  			var commit_data = document.createElement("div");
  			var commit_list = document.createElement("ul");
  			commit_data.appendChild(commit_list);
  			for(var k = 0; k < Math.min(2,commit_total); k++) {
  				var commit = commits[k];
  				var commit_url = commit["url"];
  				var commit_author = commit["author"];
  				var commit_message = commit["message"];
  				var commit_link = document.createElement('a');
  				commit_link.href = commit_url;
  				commit_link.innerHTML = "See commit"
  				
  				
  				var commit_list_entry = document.createElement("li");
  				commit_list_entry.style.display="block";
  				commit_list_entry.innerHTML = commit_author.bold() + ": " + commit_message + " " + $(commit_link).outerHTML();
  				commit_list.appendChild(commit_list_entry);
  				
  			}
  			if (commit_total > 2){
  				var summary_link = document.createElement('a');
  				summary_link.href = branch_url;
  				summary_link.innerHTML = "... and " + (commit_total - 2) + " more commits";
  				var commit_summary = document.createElement("li");
  				commit_summary.appendChild(summary_link);
  				commit_summary.style.display="block";
  				commit_list.appendChild(commit_summary);
  				
  			}
  			
  			
  			post.style.backgroundColor = "#fcf8e3";
        //post_body.setAttribute("class", "alert, alert-info");
  			
  			post_body.appendChild(date_and_time);
  			post_body.appendChild(git_data);
  			post_body.appendChild(commit_data);
  			post_body.appendChild(reply_message);
  			post_body.appendChild(reply_button);
  			post.appendChild(post_body);
  			break;
  		}

  		 reply_button.onclick = (function(post_id, reply_message) {
              return function() {
                  replyToPost(post_id, reply_message);
              }
          }(post_id, reply_message));

  		 reply_message.onkeypress = (function(post_id, reply_message) { 
  		 	return function() {
  		 			if (event.keyCode == 13) {
  		 				replyToPost(post_id, reply_message);
  		 			}
  		 	}
  		 }(post_id, reply_message));

  		var j = 1;
  		while (j < stream_array[i].length) {

  			if (stream_array[i][j]['object']["objectType"] == "TASK") {
  				var task_reference_div = document.createElement("div");
  				task_reference_div.innerHTML = "Referencing: " + stream_array[i][j]['object']["name"];
  				//task_reference_div.style.backgroundColor = "#FF6699";
  				task_reference_div.className = "post";
  				task_reference_div.style["cssFloat"] = "right";
  				task_reference_div.style["background"] = "#d9edf7";

  				post.insertBefore(task_reference_div, post.firstChild);
  				j++;

  			} else {
  				var reply_div = document.createElement("div");
  				//reply_div.className = "reply_post";
  				reply_div.setAttribute("class", "media");
      	  reply_div.style.paddingLeft = "10%";

          var reply_div_body = document.createElement("div");
          reply_div_body.setAttribute("class", "media-body");
  				
  				var reply_published = document.createElement("small");
  				reply_published.innerHTML = stream_array[i][j]['published'];

  				var reply_publisher = document.createElement("h4");
          reply_publisher.setAttribute("class", "media-heading");
  				reply_publisher.innerHTML = stream_array[i][j]['actor']["displayName"] + ":";

  				var reply_message_text = document.createElement("p");
  				reply_message_text.innerHTML = stream_array[i][j]['object']["message"];
  			
  				var reply_publisherType = stream_array[i][j]['actor']["objectType"];
  	
  				var reply_verb = stream_array[i][j]['verb'];
  		
  				var reply_message_type = stream_array[i][j]['object']["objectType"];

          post_body.appendChild(reply_div);
          reply_div.appendChild(reply_div_body);
          reply_div_body.appendChild(reply_publisher);
          reply_div_body.appendChild(reply_published);
          reply_div_body.appendChild(reply_message_text);
  			j++;

  		}


  		}
  	  post.appendChild(post_options);



  		post_no = post_no + 1;
  	}

  	
  }


  function post_new_task_details(value, id, post_id) {

  	var json = "{\"id\" : \"" + post_id + "\", "

  	if (id == "p") {

  		json += "\"priority\": " + value;

  	}

  	if (id == "s") {

  		json += "\"status\": \"" + value + "\"";

  	}

  	json += "}";


   	$.ajax({
		type: "POST",
		url: "/rest/update/task",
		dataType: "json",
		data: {"activity":json},
		complete: refreshFeed
	});      

  }

  function delete_post(post_id) {

  	var json = "{\"id\" : \"" + post_id + "\"}"

  	$.ajax({
		type: "POST",
		url: "/rest/delete/post",
		dataType: "json",
		data: {"activity":json},
		complete: refreshFeed
	});    


  }

  function getTimeStamp() {
    var currentdate = new Date();
    return ("" + currentdate.getDate() + "/"
                    + (currentdate.getMonth()+1)  + "/" 
                    + currentdate.getFullYear() + " at "
                    +  getLeadingZeros(currentdate.getHours()) + ":"  
                    + getLeadingZeros(currentdate.getMinutes()) + ":" 
                    + getLeadingZeros(currentdate.getSeconds())); 
  }

  function getLeadingZeros(number) {
  	var numberString = number + "";
  	if (numberString.length < 2) {
  		return "0" + numberString;
  	} else {
  		return number;
  	}
  }

  function replyToPost(post_id, reply_message) {

  	var post = document.getElementById(post_id);
  	var reply_name_text = "@userName";
  	var reply_message_text = reply_message.value;

  	if (reply_message_text == "") {
  		alert("Reply cannot be empty.");
  	} else {

  		var date_and_time_stamp = getTimeStamp();
  		var references = [];

  /*	var reply = generateJSON(date_and_time_stamp, reply_name_text, "MESSAGE",
  							 reply_message_text, post_id, references); */

      var reply = "{\"published\" : \""
                + date_and_time_stamp
                + "\", "
                + "\"actor\" : "
                + "{\"objectType\" : \"PERSON\", \"displayName\" : "
                + "\"" 
                + reply_name_text
                + "\"}, "
                + "\"verb\" : \"said\", \"object\" : {\"objectType\""
                + " : \"MESSAGE\", \"message\" : " 
                + "\"" 
                + reply_message_text
                + "\"}, \"target\" : { \"messageID\" : \"" 
                + post_id
  	      + "\", \"taskIDs\" : ["
  	      + references
                +  "]}} "; 

      $.ajax({
      	type: "POST",
      	url: "/rest/message",
      	dataType: "json",
      	data: {"activity":reply},
      	complete: refreshFeed 
      });

  	}

  }


  function postToFeed() {

      var currentdate = new Date();
      
      var name_text = "@userName";
      /*document.getElementById("name").value;*/
      var message_text = document.getElementById("limitedtextfield").value;
      
      message_text = message_text.replace("\n", "\\n").replace("\t", "\\t").replace("\r", "\\r");
      
      var dropdown = document.getElementById("post_type");
      var dropdown_value = dropdown.options[dropdown.selectedIndex].value;
      
      var date_and_time_stamp = getTimeStamp();
      
      if (name_text != "" && message_text != "" && dropdown_value == "text_post") {

      	var taskReferencer = document.getElementById("tasks");
  	    var references = [];

      	if (taskReferencer.selectedIndex == 0) {

      	} else {


      		var referencedTask = task_ids[taskReferencer.selectedIndex-1];
      		references =  ["\"" + referencedTask + "\""];

      	}

      var message_object = generateMessageObject(message_text)    

      var post = generateJSON(date_and_time_stamp, name_text, message_object,
      						"", references);

        $.ajax({
            type: "POST",
            url: "/rest/message",
            dataType: "json",
            data: {"activity":post},
  	        complete: refreshFeed                
        });
                    
        //document.getElementById("name").value = "";
        document.getElementById("limitedtextfield").value = ""; 


          
      } else if (name_text != "" && message_text != "" && dropdown_value == "task") {
          

          var references = [];

          var task_object = generateTaskObject(message_text, "TO_DO", "1")
          var post = generateJSON(date_and_time_stamp, name_text, task_object, "", references);

         $.ajax({
            type: "POST",
            url: "/rest/message",
            dataType: "json",
            data: {"activity":post},
            complete: refreshFeed
        });      
                    
        document.getElementById("limitedtextfield").value = "";

          
      } 
      
  }

  </script>
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
  </body>
</html>

