<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/theme.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
<html>
<head>
<title> News Feed </title>

<ul>
<li><a href="@routes.Application.tasks">Task List</a></li>
<li><a href="@routes.Application.gits">Git Commits</a></li>
<li><a href="@routes.Application.builds">Build History</a></li>
<li><a href="@routes.Application.about">About</a></li>
<li><a href="@routes.Application.login">Log out</a></li>
</ul>

<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>


<script language="javascript" type="text/javascript">

function limitText(limitField, limitCount, limitNum) {
	if (limitField.value.length > limitNum) {
		limitField.value = limitField.value.substring(0, limitNum);
	} else {
		limitCount.value = limitNum - limitField.value.length;
	}
}

</script>

</head>

<body>

<script>
	
	var userName;
	
    $.ajax({
        type: "GET",
        url: "/rest/user",
        success: function(data){   
			userName = data;
        }
    });
    
</script>

<img src="@routes.Assets.at("images/progress_all.jpg")" alt="some_text"
	width="200" >

<div id = "post_options" class = "post_options" align = "center">

	<!--input name="name" type="text" maxlength="512"
		placeholder="Your name" id="name"/-->
	<div id="username"> </div>	
		
<form name="myform">
<textarea name="limitedtextarea" type="text" id = "limitedtextfield" rows ="5" cols = "30"
onKeyDown="if (event.keyCode == 13) { postToFeed(); return false; }; limitText(this.form.limitedtextfield,this.form.countdown,140);" 
onKeyUp="limitText(this.form.limitedtextfield,this.form.countdown,140);" maxlength="140"> </textarea><br>
<font size="1">(Maximum characters: 140)<br>
You have <input readonly type="text" name="countdown" size="3" value="140"> characters left.</font>
</form>

	<div id = "task_referencer" align = "center">
		<select id="tasks">
			<option value="default">-Reference a Task-</option>
		</select>

	</div>

<select id="post_type" onchange="postTypeChange(this.value)">
  <option value="text_post">Text Post</option>
  <option value="task">Task</option>
</select>
 		
	<button type="button" onclick="postToFeed()">Post to Feed</button>

	
</div>




<div id = "posts" class = "float">
	<p class="posts_title">Posts:</p>
</div>

<div id = "stream" class = "stream">

</div>

<script>

var post_count = 0;

function postTypeChange(option) {
	if (option == "text_post") {

		var task_referencer = document.getElementById("task_referencer");
		task_referencer.style.visibility= 'visible';
		var limitedtextfield = document.getElementById("limitedtextfield");
		limitedtextfield.rows = 5
		limitedtextfield.cols = 30;

	} else {

		var task_referencer = document.getElementById("task_referencer");
		task_referencer.style.visibility= 'hidden';
		var limitedtextfield = document.getElementById("limitedtextfield");
		limitedtextfield.rows = 1;
		limitedtextfield.cols = 30;
	}

}


function refreshFeed() {
    document.getElementById("stream").innerHTML = "";
    $.ajax({
        type: "GET",
        url: "/rest/feed",
        dataType: "json",
        success: function(data){   

            generateFeed(data);
        }
    });
}

$(document).ready(refreshFeed);	



function generateFeed(stream_array) {

	  document.getElementById("tasks").options.length = 1;


	document.getElementById("username").innerHTML=userName;

	for (var i=0; i < stream_array.length;i++) {


		var message_type = stream_array[i][0]['object']["objectType"];

		var post_no = 0;

		var post_id = stream_array[i][0]['id'];

		var published = stream_array[i][0]['published'];

		var publisher = stream_array[i][0]['actor']["displayName"];
		
		var publisherType = stream_array[i][0]['actor']["objectType"];
	
		var verb = stream_array[i][0]['verb'];

		var post = document.createElement("div");
		post.id = post_id;
		post.className = "post";

	
		if (post_count > 0) {

			var stream = document.getElementById("stream");
			stream.insertBefore(post, stream.childNodes[0]);
		} else {
			document.getElementById("stream").insertBefore(post);
		}

		var date_and_time = document.createElement("div");
		date_and_time.innerHTML = published;
		
		var reply_message = document.createElement("input");
		reply_message.placeholder = "Your message"
		reply_message.type = "text";

					
		var reply_button = document.createElement("button");
		reply_button.innerHTML = 'Reply';
		reply_button.align = "right"; 	

		if (message_type == "MESSAGE") {

			var user = document.createElement("div");
			user.innerHTML = publisher  + ":";
		
			var message_text = stream_array[i][0]['object']["message"];
			var message = document.createElement("div");
			message_text = message_text.replace("\n", "<br>");
			message.innerHTML = message_text;


			post.appendChild(date_and_time);
			post.appendChild(user);
			post.appendChild(message);
			//post.appendChild(reply_name);
			post.appendChild(reply_message);
			post.appendChild(reply_button);


		} else if (message_type == "TASK") {

			var task_name = stream_array[i][0]['object']["name"];
			var task_data = document.createElement("div");
			post.style.backgroundColor = "#FF6699";
			task_data.innerHTML = "NEW TASK: " + task_name.bold() + " BY " + publisher.bold();

			var option = document.createElement("option");
			option.text = task_name;
			var task_referencer = document.getElementById("tasks").add(option, null);

			post.appendChild(date_and_time);
			post.appendChild(task_data);
			//post.appendChild(reply_name);
			post.appendChild(reply_message);
			post.appendChild(reply_button);

		}	
		


		 reply_button.onclick = (function(post_id, reply_message) {
            return function() {
                //alert("you just clicked button" + x);
                replyToPost(post_id, reply_message);
            }
        }(post_id, reply_message));


		 reply_message.onkeypress = (function(post_id, reply_message) { 

		 	return function() {

		 			if (event.keyCode == 13) {
		 				replyToPost(post_id, reply_message);
		 			}
		 	}
		 }(post_id, reply_message));

		 



		var j = 1;
		while (j < stream_array[i].length) {

			var reply_div = document.createElement("div");
			reply_div.className = "reply_post";

			reply_div.setAttribute("class", "reply_post");
    		reply_div.style.padding = "10px";
			post.appendChild(reply_div);

			var reply_published = document.createElement("div");
			reply_published.innerHTML = stream_array[i][j]['published'];
			reply_div.appendChild(reply_published);

			var reply_publisher = document.createElement("div");
			reply_publisher.innerHTML = stream_array[i][j]['actor']["displayName"] + ":";
			reply_div.appendChild(reply_publisher);

			var reply_message_text = document.createElement("div");
			reply_message_text.innerHTML = stream_array[i][j]['object']["message"];
			reply_div.appendChild(reply_message_text);
			
			var reply_publisherType = stream_array[i][j]['actor']["objectType"];
	
			var reply_verb = stream_array[i][j]['verb'];
		
			var reply_message_type = stream_array[i][j]['object']["objectType"];

			j++;
		}


		post_no = post_no + 1;
	}

	
}


function getTimeStamp() {
    var currentdate = new Date();
    return ("" + currentdate.getDate() + "/"
                    + (currentdate.getMonth()+1)  + "/" 
                    + currentdate.getFullYear() + " at "  
                    + currentdate.getHours() + ":"  
                    + currentdate.getMinutes() + ":" 
                    + currentdate.getSeconds() + "        ");
}



function replyToPost(post_id, reply_message) {


	var post = document.getElementById(post_id);
	var reply_name_text = userName;
	var reply_message_text = reply_message.value;

	if (reply_message_text == "") {

		alert("Reply cannot be empty.");

	} else {

		var date_and_time_stamp = getTimeStamp();

    var reply = "{\"published\" : \""
              + date_and_time_stamp
              + "\", "
              + "\"actor\" : "
              + "{\"objectType\" : \"PERSON\", \"displayName\" : "
              + "\"" 
              + reply_name_text
              + "\"}, "
              + "\"verb\" : \"said\", \"object\" : {\"objectType\""
              + " : \"MESSAGE\", \"message\" : " 
              + "\"" 
              + reply_message_text
              + "\"}, \"target\" : \"" 
              + post_id
              +  "\"} ";

    $.ajax({
    	type: "POST",
    	url: "/rest/message",
    	dataType: "json",
    	data: {"activity":reply},
    	complete: refreshFeed 
    });

	}

}


function postToFeed() {

    var currentdate = new Date();
    
    var name_text = userName;
    /*document.getElementById("name").value;*/
    var message_text = document.getElementById("limitedtextfield").value;
    
    message_text = message_text.replace("\n", "\\n").replace("\t", "\\t").replace("\r", "\\r");
    
    var dropdown = document.getElementById("post_type");
    var dropdown_value = dropdown.options[dropdown.selectedIndex].value;
    
    var date_and_time_stamp = "" + currentdate.getDate() + "/"
                    + (currentdate.getMonth()+1)  + "/" 
                    + currentdate.getFullYear() + " at "  
                    + currentdate.getHours() + ":"  
                    + currentdate.getMinutes() + ":" 
                    + currentdate.getSeconds() + "        ";
    
    if (name_text != "" && message_text != "" && dropdown_value == "text_post") {

    	var taskReferencer = document.getElementById("tasks");
    	var referencedTask = taskReferencer.options[taskReferencer.selectedIndex].text;

    	if (referencedTask == "-Reference a Task-") {

    		alert("posting without task Reference");

    	} else {

    		alert("posting with referenced task: " + referencedTask);

    	}

    
    
      var post = "{\"published\" : \""
            + date_and_time_stamp
            + "\", "
            + "\"actor\" : "
            + "{\"objectType\" : \"PERSON\", \"displayName\" : "
            + "\"" + name_text + "\"}, "
            + "\"verb\" : \"said\", \"object\" : {\"objectType\""
            + " : \"MESSAGE\" , \"message\" : " 
            + "\"" + message_text + "\"}, \"target\" : \"\"} ";
  
      $.ajax({
          type: "POST",
          url: "/rest/message",
          dataType: "json",
          data: {"activity":post},
	        complete: refreshFeed                
      });
                  
      //document.getElementById("name").value = "";
      document.getElementById("limitedtextfield").value = ""; 


        
    } else if (name_text != "" && message_text != "" && dropdown_value == "task") {
        
            var json_post = "{\"published\" : \""
                  + date_and_time_stamp
                  + "\", "
                  + "\"actor\" : "
                  + "{\"objectType\" : \"PERSON\", \"displayName\" : "
                  + "\"" + name_text + "\"}, "
                  + "\"verb\" : \"said\", \"object\" : {\"objectType\""
                  + " : \"TASK\" , \"name\" : " 
                  + "\"" + message_text + "\"}, \"target\" : \"\"} "; 

             $.ajax({
                type: "POST",
                url: "/rest/message",
                dataType: "json",
                data: {"activity":json_post},
                complete: refreshFeed
            });      
                        
            document.getElementById("limitedtextfield").value = "";

        
    } 
    
}

</script>
</body>
</html>

