@(groupID : String, userName : String)
<!DOCTYPE html>
<html>
 <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="progress_nav" class="navbar-brand" href="@routes.Application.feed(groupID,"feed")">Progress</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav" role="navigation">
          <li id="newsfeed_nav" class = "active"><a id="newsLink" href="@routes.Application.feed(groupID,"feed")">News Feed</a></li>
         
          
          <!--<li id="tasklist_nav"><a href="@routes.Application.feed(groupID,"tasks")">Task List</a></li>-->
          
          <li id="tasklist_nav" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Task List 
              <b class="caret"></b></a>
            <ul id="taskDrop" class="dropdown-menu">
              <li><a href="@routes.Application.feed(groupID,"tasks")">All Tasks</a></li>
          	  <li id = "TO_DO"><a href="@routes.Application.feed(groupID, "TO_DO")">TO DO</a></li>
          	  <li id = "DOING"><a href="@routes.Application.feed(groupID, "DOING")">DOING</a></li>
          	  <li id = "DONE"><a href="@routes.Application.feed(groupID, "DONE")">DONE</a></li>
        	</ul>
      	  </li>
          
          <li id="git_nav"><a id="gitLink" href="@routes.Application.feed(groupID,"gits")">Git Commits</a></li>
          <li id = "builds_nav"><a id="buildsLink" href="@routes.Application.feed(groupID,"builds")">Builds</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" role="navigation">
          <li><a href="@routes.Application.profile">@userName</a></li>
          <li><a href="@routes.Application.login">Log Out</a></li>
        </ul>
      </div> <!--/.nav-collapse -->
    </div>
    </div>
</html>
