@(userName: String, displayName: String, photo_url: String)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Profile </title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
    
    
    <!-- Our own style -->
    <link href ="@routes.Assets.at("stylesheets/theme.css")" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">

     <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.js" type="text/javascript"></script>
  </head>

  <body>
    
    @navbar("", userName);

    <div class="container">
      <div id = "title" align = "center" class ="title" >
        <img src="@routes.Assets.at("images/title.jpg")" alt="some_text" width="500">
      </div>

    <div id ="profile_details" class="post" >


      <h1 id="username"> </h1> 
      <div id = "picture" class = "profile_picture" float = "right">
      <img id="profileImage" width="107" height="98">
    </div>
      <div id="groups"> 
      <a id="group_name" class = "h1"></a>


    </div>  <!-- /container --> 

    <script>
    
    var users = [];
    var usersJSON = [];

    document.getElementById("username").innerHTML="@userName";

    $(document).ready(

        fetchUserData()

      ); 

    function fetchUserData() {

      $.ajax({

          type: "GET",
          url: "/rest/groups",
          dataType: "json",
          success: function(data){   

              parseUserData(data);
          }
      }); 
    }

    function reload() {
      location.reload(true);

    }

    function parseUserData(data) {

      for (var i = 0; i < data.length; i++) {
		    var group_data = data[i][0];
        var group_div = document.createElement("div");
        group_div.className="post";

        var group_images_div = document.createElement("div");
        group_images_div.style.float = "right";

        group_div.appendChild(group_images_div);

        var group_name = group_data['customID'];
        var group_display_name = group_data['name'];
        
        var li = document.createElement("li");
  		var a = document.createElement("a");
  		a.innerHTML=group_display_name;
  		a.href="/" + group_name;
  		li.appendChild(a);
  		newsDrop.appendChild(li);
        
        var members_array = group_data['members'];
        

        var group_members_div = document.createElement("div");
        group_members_div.innerHTML = "Group Members: ";

        var j = 0;
        while (j < members_array.length) {
          group_members_div.innerHTML += "<br>" + members_array[j];
          var user_image = document.createElement("image");
          user_image.style.height = "40px";
          user_image.style.width = "40px";
          user_image.style.borderRadius = "50px";

          var default_img = "http://assets.eschools.co.uk/images/default_user_300x300.png";

          user_image.src= default_img;
          group_images_div.appendChild(user_image);

          j++;
        }

       	var a = document.createElement("a");
        var ref = "/../" + group_name;
        a.href = ref;
        var all_groups_div = document.getElementById("groups");
        var linkText = document.createTextNode(group_display_name);
        
        var git_webhook_div = document.createElement("div");
        var git_webhook = window.location.origin + "/" +  group_name + "/rest/git";
		    git_webhook_div.innerHTML = "Git Web Hook: ".bold() +  git_webhook;
        git_webhook_div.style.marginTop = "10px";
		   var jenkins_webhook_div = document.createElement("div");
        var jenkins_webhook = window.location.origin + "/" +  group_name + "/rest/jenkins";
		    jenkins_webhook_div.innerHTML = "Jenkins Web Hook: ".bold() +  jenkins_webhook;
        jenkins_webhook_div.style.marginTop = "10px";
        
        	progress_nav.href= ref;
		    gitLink.href = ref + "/gits";
		    buildsLink.href = ref + "/builds";

        var add_users_box = document.createElement("input");
        add_users_box.type = "text";
        add_users_box.placeholder = "Start typing a name";

        var add_group_members_button = document.createElement("button");
        add_group_members_button.className = "btn btn-info";
        add_group_members_button.style.marginLeft="10px";
        add_group_members_button.innerHTML = "Add user to group";
        add_group_members_button.onclick = (function (group_name, group_div, add_users_box) {
          return function() {

            var username = add_users_box.value;

            if (checkValidUser(username)) {

              var add_user_json = "{\"id\" : \"" + group_name + "\", \"users\" : [\""
                                 + add_users_box.value + "\"]}";

              $.ajax({
                  type: "POST",
                  url: "/rest/addtoproject",
		              dataType: "json",
                  data: {"activity":add_user_json},
                  complete: reload
               }); 
            }
        }
        }(group_name, group_div, add_users_box)); 

        var leave_group_button;
        var close_group_button;

        if (j > 1) {

          var leave_group_button = document.createElement("button");
          leave_group_button.className = "btn btn-danger btn-xs";
          leave_group_button.innerHTML = "Leave group";
          leave_group_button.style.float = "right";
          leave_group_button.onclick = (function (group_name) {
            return function() {

                var choice = confirm("Are you sure you want to leave group " + group_name + "?");

                if (choice == true) {

                  var leave_group_json = "{\"id\" : \"" + group_name + "\"}";

                  $.ajax({
                    type: "POST",
                    url: "/rest/leaveproject",
                    dataType: "json",
                    data: {"activity":leave_group_json},
                    complete: reload
                  }); 

                }
        
              }
            }(group_name, group_div, add_users_box)); 


          } else {
            close_group_button = document.createElement("button");
            close_group_button.className = "btn btn-danger btn-xs";
            close_group_button.innerHTML = "Close group";
            close_group_button.style.float = "right";
            close_group_button.onclick = (function (group_name) {
            return function() {

              var choice = confirm("Are you sure you want to close group " + group_name + "?");

              if (choice == true) {

                var close_group_json = "{\"id\" : \"" + group_name + "\"}";

                $.ajax({
                    type: "POST",
                    url: "/rest/deleteproject",
                    dataType: "json",
                    data: {"activity":close_group_json},
                    complete: reload
                }); 

              }
        
            }
            }(group_name, group_div, add_users_box)); 
        }

        a.appendChild(linkText);
        a.style.fontSize="xx-large";
        group_div.appendChild(a);
        group_div.appendChild(group_members_div);
        group_div.appendChild(add_users_box);
        group_div.appendChild(add_group_members_button);
        group_div.appendChild(git_webhook_div);

        if (j > 1) {
          group_div.appendChild(leave_group_button);
        } else {
          group_div.appendChild(close_group_button);
        }

        group_div.appendChild(jenkins_webhook_div);



        all_groups_div.appendChild(group_div);

    }

    var create_group_button = document.createElement("button");
    create_group_button.className = "btn btn-success";
    create_group_button.innerHTML = "Create new group";
    create_group_button.style.marginTop = "10px";
    create_group_button.onclick = function () {

      var group_name = prompt("What is the name of your group?");

      if (group_name != "" && group_name != null) {

        var create_group_json = "{\"name\" : \"" + group_name + "\", \"creator\" : @userName }";

        $.ajax({
            type: "POST",
            url: "/rest/addproject",
            dataType: "json",
            data: {"activity":create_group_json},
            complete: reload
        });
      }

    }

    document.getElementById("profile_details").appendChild(create_group_button);

      $.ajax({

          type: "GET",
          url: "/rest/allusers",
          success: function(data){   
              var name_array = data.split(",");

              parseAllUserData(name_array);
          }
      });
      
      var profileImage = document.getElementById("profileImage");
      profileImage.style.borderRadius = "50px";
      profileImage.float = "right";
      profileImage.src= "@photo_url"; 
  }


  function checkValidUser(username) {

    for (var i = 0; i < users.length; i++) {
      if (username == users[i]) {
        return true;
      }
    }
    return false;

  }


    function parseAllUserData(user_array) {

      for (var i=0; i < user_array.length; i++) {

        if (i == 0) {
          user_array[i] = user_array[i].substring(1, user_array[i].length);
        } else if (i == user_array.length - 1) {
          var a = user_array[i].substring(1, user_array[i].length - 1);
          user_array[i] = a;
        } else {
          var a = user_array[i].substring(1);
          user_array[i] = a;
        }

        users[i] = user_array[i];
        usersJSON[i] = "{ \"value\": \"" + user_array[i] + "\" , \"data\":\"" + user_array[i] + "\" }";
        usersJSON[i] = jQuery.parseJSON(usersJSON[i]);


      }

      autocomplete_setup();

   }


  function autocomplete_setup() {
  $(function ()  {

     $(":input").autocomplete({
         source: usersJSON,
         messages: {
           noResults: "",
           results: function() {}
         },
        // position: {
          //  of:"#limitedtextfield",
            //offset: "-2px 0 0 0" },
         open: function(event, ui){
            var $input = $(event.target),
            $results = $input.autocomplete("widget");
            $results.css("background-color", "#d9edf7");
            $results.css("list-style", "none");
            $results.css("border", "2px solid");
            $results.css("border-radius", "5px");
            $results.css("width", "50%");
            $results.css("border-color", "#AF3838");
            $results.css("z-index", "30 !important");
            $results.css("position", "absolute");


        }
      });

   });}

    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
  </body>
</html>
