@(userName: String)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Profile </title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
    
    <!-- Our own style -->
    <link href ="@routes.Assets.at("stylesheets/theme.css")" rel="stylesheet" type="text/css">
     <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.js" type="text/javascript"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@routes.Application.login">Progress</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav" role="navigation">
          <li id="newsfeed_nav"><a id="newsLink" href="@routes.Application.login()">News Feed</a></li>
          <li id="tasklist_nav"><a id="taskLink" href="@routes.Application.profile()">Task List</a></li>
          <li id="git_nav"><a id="gitLink" href="@routes.Application.profile()">Git Commits</a></li>
          <li id = "builds_nav"><a id="buildLink" href="@routes.Application.profile()">Builds</a></li>
          <li id = "about_nav" ><a href="@routes.Application.about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" role="navigation">
          <li class = "active" ><a href="@routes.Application.profile">@userName</a></li>
          <li><a href="@routes.Application.login">Log Out</a></li>
        </ul>
      </div> <!--/.nav-collapse -->
    </div>
    </div>

    <div class="container">
      <div id = "title" align = "center" class ="title" >
        <img src="@routes.Assets.at("images/title.jpg")" alt="some_text" width="500">
      </div>

    <div id ="profile_details" class="post" >


      <h1 id="username"> </h1> 
      <div id="groups"> 
      <a id="group_name" class = "h1"></a>


    </div>  <!-- /container --> 

    <script>

    var users = [];
    var usersJSON = [];

    document.getElementById("username").innerHTML="@userName";

    $(document).ready(

        fetchUserData()

      ); 

    function fetchUserData() {

      $.ajax({

          type: "GET",
          url: "/rest/groups",
          dataType: "json",
          success: function(data){   

              parseUserData(data);
          }
      }); 
    }

    function reload() {
      location.reload(true);

    }

    function parseUserData(data) {

      for (var i = 0; i < data.length; i++) {

        var group_div = document.createElement("div");
        group_div.className="post";

        var group_name = data[i]['customID'];
        var members_array = data[i]['members'];

        var group_members_div = document.createElement("div");
        group_members_div.innerHTML = "Group Members: ";

        var j = 0;
        while (j < members_array.length) {
          group_members_div.innerHTML += "<br>" + members_array[j];
          j++;
        }

        var a = document.createElement("a");
        var ref = "/../" + group_name;
        a.href = ref;
        var all_groups_div = document.getElementById("groups");
        var linkText = document.createTextNode(group_name);

		    newsLink.href = ref;
        taskLink.href = ref + "/tasks";
		    gitLink.href = ref + "/gits";
		    buildLink.href = ref + "/builds";

        var add_users_box = document.createElement("input");
        add_users_box.type = "text";
        add_users_box.placeholder = "Start typing a name";

        var add_group_members_button = document.createElement("button");
        add_group_members_button.className = "btn btn-info";
        add_group_members_button.style.marginLeft="10px";
        add_group_members_button.innerHTML = "Add user to group";
        add_group_members_button.onclick = (function (group_name, group_div, add_users_box) {
          return function() {
            if (checkValidUser(add_users_box)) {

              var add_user_json = "{\"id\" : \"" + group_name + "\", \"users\" : [\""
                                 + add_users_box.value + "\"]}";

              $.ajax({
                  type: "POST",
                  url: "/rest/addtoproject",
		              dataType: "json",
                  data: {"activity":add_user_json},
                  complete: reload
               });
            }
        }
        }(group_name, group_div, add_users_box)); 



        a.appendChild(linkText);
        group_div.appendChild(a);
        group_div.appendChild(group_members_div);
        group_div.appendChild(add_users_box);
        group_div.appendChild(add_group_members_button);

        all_groups_div.appendChild(group_div);

    }

    var create_group_button = document.createElement("button");
    create_group_button.className = "btn btn-success";
    create_group_button.innerHTML = "Create new group";
    create_group_button.style.marginTop = "10px";
    create_group_button.onclick = function () {

      var group_name = prompt("What is the name of your group?");

      if (group_name != "") {

        var create_group_json = "{\"id\" : \"" + group_name + "\"]}";

        $.ajax({
            type: "POST",
            url: "/rest/addProject",
            ataType: "json",
            data: {"activity":create_group_json},
            complete: reload
        });
      }
    }

    all_groups_div.appendChild(create_group_button);

      $.ajax({

          type: "GET",
          url: "/rest/allusers",
          success: function(data){   
              var name_array = data.split(",");

              parseAllUserData(name_array);
          }
      });
  }


  function checkValidUser(add_users_box) {

    var username = add_users_box.value;

    for (var i = 0; i < users.length; i++) {
      if (username == users[i]) {
        return true;
      }
    }
    return false;

  }


    function parseAllUserData(user_array) {

      for (var i=0; i < user_array.length; i++) {

        if (i == 0) {
          user_array[i] = user_array[i].substring(1, user_array[i].length);
        } else if (i == user_array.length - 1) {
          user_array[i] = user_array[i].substring(0, user_array[i].length - 1)
        }

        users[i] = user_array[i];

        usersJSON[i] = "{ \"value\": \"" + user_array[i] + "\" , \"data\":\"" + user_array[i] + "\" }";
        usersJSON[i] = jQuery.parseJSON(usersJSON[i]);

      }

      autocomplete_setup();

   }


  function autocomplete_setup() {
  $(function ()  {

     $(":input").autocomplete({
         source: usersJSON,
         focus: function () {
             return false;
         },

         messages: {
           noResults:'',
           results: function() {}
         },
        // position: {
          //  of:"#limitedtextfield",
            //offset: "-2px 0 0 0" },
         open: function(event, ui){
            var $input = $(event.target),
            $results = $input.autocomplete("widget");
            $results.css("background-color", "#d9edf7");
            $results.css("list-style", "none");
            $results.css("border", "2px solid");
            $results.css("border-radius", "5px");
            $results.css("width", "50%");
            $results.css("border-color", "#AF3838");
            $results.css("z-index", "30 !important");
            $results.css("position", "absolute");


        }
      });

   });}



    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
  </body>
</html>
